nextflow.enable.dsl=2
$INITIAL_RUN_TYPE="gzip"
google.storage.parallelThreadCount=4
process.stageInMode = 'copy'

$HOSTNAME = "default"
params.DOWNDIR = (params.DOWNDIR) ? params.DOWNDIR : ""

// pipeline defaults

// short read qc
params.reads = "" //* @input @file @label:"Reads"
params.mate = "" //* @dropdown @options:"single","pair" @description:"Single-End or Paired-End Data for reads." @label:"Read Type"
params.genome_build = "" //* @dropdown @options:"human","mouse","custom" @description:"The databases predetermined with this entry can be altered by editing the 'System Inputs' section. If custom is selected, please manually enter the genome_source and gtf_source in the 'System Inputs' section. Then enable the Download Genomic Sources option." @label:"Host Genome"
params.run_adapter_removal = "no" //* @dropdown @label:"Run Adapter Removal?" @options:"yes","no" @show_settings:"params.adapter"
params.adapter = "" //* @input @single_file @optional @label:"Adapter file" @description:"It is possible to trim data that contains multiple adapter pairs, by providing a one or tab separated two-column text file containing possible adapter combinations. e.g. s3://viafoundry/run_data/test_data/metasub_camp/common_adapters.txt"
params.metadata = "" //* @input @optional @label:"Metadata" @single_file @editor:{"type":"spreadsheet","collection_autofill":{"input_name":"reads", "column":"1"},"separator":"tab","default":[["sample_name","feature_1","feature_2"]]}
params.replace_geneID_with_geneName = "yes" // @dropdown @options:"yes","no" @label:"Replace geneID with genename?"
params.add_sequences_to_reference = "no" // @dropdown @options:"yes","no" @label:"Add sequences to DB?"
params.run_Download_Genomic_Sources = "no" // @dropdown @options:"yes","no" @label:"Download genomic sources"
params.run_Bowtie2 = "yes" // @dropdown @options:"yes","no" @description:"Filter out host reads with bowtie2?" @label:"Remove host reads?"
params.run_shrqc = "yes" //* @dropdown @options:"yes","no" @show_settings:"params.err_correction,params.run_fastqc_pre,params.run_fastqc_post,params.run_multiqc,params.run_stats,filter_low_qual,Check_Build_Bowtie2_Index" @label:"Quality Control Settings" @description:"Please, select 'yes' and click on the settings button to change the setiings."
params.err_correction = "tadpole" //* @dropdown @options:"bayeshammer","tadpole" @description:"Select an error correction method for assembly. The assembly tool depends on the error correction tool." @label:"Error correction tool"
params.run_fastqc_pre = "yes" //* @dropdown @options:"yes","no" @description:"Run FastQC before host removal to get an overview of your raw sequencing data quality." @label:"Do a Pre-FastQC?"
params.run_fastqc_post = "yes" //* @dropdown @options:"yes","no" @description:"Run FastQC after host removal to assess the quality of your cleaned data and ensure no contamination remains." @label:"Do a Post-FastQC?"
params.run_multiqc = "yes" //* @dropdown @options:"yes","no" @description:"Running MultiQC aggregates results from various tools into a single, interactive report, helping you identify potential issues like low-quality reads or contamination early in your analysis pipeline." @label:"Run MultiQC?"
params.run_stats = "yes" //* @dropdown @options:"yes","no" @description:"Choose 'yes' to obtain descriptive statistics for the reads of the error correction module." @label:"Error Correction Statistics"

// defaults and options for the camp assembly module
params.read_correction = "yes"
params.run_magasm = "yes" //* @dropdown @options:"yes, no" @show_settings:"params.run_spades,params.run_megahit" @description:"MAG creation assembly step. Please, to change the settings for assembly, select 'yes'" @label:"MAG Assembly Settings"
params.run_spades = "no" // @dropdown @options:"yes","no" @show_settings:"SPAdes" @label:"Assemble using SPAdes?" @description:"WIP - SPAdes is recommended for any specific short-read assembly tasks. Short-read error correction must be done with SPAdes (bayesHammer), too. Don't forget to view the settings, and alter them to your needs."
params.run_megahit = "yes" //* @dropdown @options:"yes","no" @show_settings:"MegaHIT" @label:"Assemble using MegaHIT?" @description:"MegaHIT is a fast and accurate generalized assembler. Don't forget to view the settings, and alter them to your needs."

// defaults and options for the camp virus inference module
//params.ask_vibrant_db = "no" // @dropdown @options:"yes,no", @show_settings:"VIBRANT_DB_Creator", @label:"Recreate VIBRANT Database?", @description:"Choose 'yes' for the VIBRANT virus finder database to be recreated."
//params.ask_virsorter_db = "no" // @dropdown @options:"yes,no", @show_settings:"VirSorter_DB_Creator", @label:"Recreate VirSorter Database?", @description:"Choose 'yes' for the VirSorter virus finder database to be recreated."
//params.ask_checkv_db = "no" // @dropdown @options:"yes,no", @show_settings:"CheckV_DB_Creator", @label:"Recreate CheckV Database?", @description:"Choose 'yes' to recreate the CheckV viral contig assessor database."

// short read taxonomy
params.run_srtax = "yes" //* @dropdown @options:"yes, no" @show_settings:"params.run_microViz,params.min_rel_abund,bracken,merge_xtree_outputs,standardize_xtree" @description:"Please, to change the settings for binning, select 'yes'" @label:"Taxonomic Profiling Settings"
params.mask_reads = "yes" // @dropdown @options:"yes","no" @label:"Mask Reads?" @description:""
params.metaphlan = "yes" // @dropdown @options:"yes","no" @label:"Run MetaPhlAn?" @description:""
params.scrub_fastq_captions = "yes" // @dropdown @options:"yes","no" @label:"" @description:""
params.make_xtree_input = "yes" // @dropdown @options:"yes","no" @label:"" @description:""
params.run_microViz = "yes" //* @dropdown @options:"yes","no" @label:"Visualize the results using microViz?" @description:"MicroViz shiny app is an interactive tool for visualizing and exploring ordination analyses of microbiome data. To run microViz, please provide a metadata and ensure there are at least 3 samples running."
params.min_rel_abund = 0.01 //* @input @label:"Minimum Relative Abundance" @description:"Relative abundance cut-off for taxonomic profiling"
params.metaphlan_db = "" // @input @label:"MetaPhlAn Database" @description:"MetaPhlAn database for correct taxonomic annotation"
params.kraken_db = "" // @input @label:"Kraken2 Database" @description:""
params.xtree_db     = "" // @input @label:"XTree Database" @description:""
params.ncbi_taxid = "" // @input @label:"NCBI TaxID" @description:"List of NCBI specific Taxonomic ID and Names"
params.xtree_all_db_mapping = "" // @input @label:"XTree General Database" @description:"NCBI sequence identifiers and scientific names to annotate mapping"
params.taxonomy_db = "" // @input @label:"Taxonomy Database" @description:"NCBI taxonomy database file, a data frame with four columns: taxID, parent_taxID, rank, name."

// gene catalog
params.run_genec = "yes" //* @dropdown @options:"yes","no" @show_settings:"cluster_orfs,filter_gene_catalog,run_alignments" @label:"Gene Cataloguing Settings" @description:"To see the gene cataloguing options, please select 'yes' and click on the settings button."
params.mapsort2 = "yes" // @dropdown @options:"yes","no" @label:"Run MapSort2?" @description:"Used to classify and sort metagenomic sequencing data, helping to identify and assign taxonomic labels to sequences."
params.prokka = "yes" // @dropdown @options:"yes","no" @label:"Run PROKKA?" @description:"PROKKA is an annotation tool that identifies genes, functional elements, and other genomic features, helping to annotate bacterial genomes or metagenomes."
params.cmseq = "yes" // @dropdown @options:"yes","no" @label:"Run CMSeq?" @description:"CMSeq is tool designed for community-based metagenomic sequencing analysis that processes sequencing data from microbial communities and provides insights into microbial diversity, taxonomy, and functional annotations."
params.bakta_db = "" // @input @label:"Bakta Database"

// defaults and options for the camp binning module
params.run_binning = "yes" //* @dropdown @options:"yes, no" @show_settings:"Build_Bowtie2_Index,Bowtie2,params.run_metabat2,params.run_maxbin2,params.run_metabinner,params.run_semibin2,params.run_concoct,params.run_vamb,DAS_Tool" @description:"MAG (metagenome assembled genomes) settings.Please, to change the settings for binning, select 'yes'" @label:"MAG Binning Settings"
params.run_metabat2 = "yes" //* @dropdown @options:"yes","no" @show_settings:"MetaBAT2" @label:"Bin with MetaBAT2?" @description:"Choose 'yes' to run MetaBAT2 binning tool. Make sure that at least 3 binning tools are running to get the best results!"
params.run_maxbin2 = "yes" //* @dropdown @options:"yes","no" @show_settings:"MaxBin2" @label:"Bin with MaxBin2?" @description:"Choose 'yes' to run MaxBin2 binning tool. Make sure that at least 3 binning tools are running to get the best results!"
params.run_metabinner = "yes" //* @dropdown @options:"yes","no" @show_settings:"MetaBinner" @label:"Bin with MetaBinner?" @description:"Choose 'yes' to run MetaBinner binning tool. Make sure that at least 3 binning tools are running to get the best results!"
params.run_semibin2 = "yes" //* @dropdown @options:"yes","no" @show_settings:"SemiBin2" @label:"Bin with SemiBin2?" @description:"Choose 'yes' to run SemiBin2 binning tool. Make sure that at least 3 binning tools are running to get the best results!"
params.run_concoct = "yes" //* @dropdown @options:"yes","no" @show_settings:"CONCOCT" @label:"Bin with CONCOCT?" @description:"Choose 'yes' to run CONCOCT binning tool. Make sure that at least 3 binning tools are running to get the best results!"
params.run_vamb = "yes" //* @dropdown @options:"yes","no" @show_settings:"VAMB" @label:"Bin with VAMB?" @description:"Choose 'yes' to run VAMB binning tool. Make sure that at least 3 binning tools are running to get the best results!"

// mag qc
params.run_magqc = "yes" //* @dropdown @options:"yes","no" @show_settings:"quast" @label:"MAG Quality Checking Options" @description:"Please, select 'yes' and click on the settings button to change the options."
params.extension = "fa" // @input @label:"Binned file Extension" @description:"Binned fasta formatted file extensions for CheckM2"
params.gtdb = "yes" // @dropdown @options:"yes","no" @label:"Run GTDB-Tk?" @description:"Genome Taxonomy Database Toolkit is a comprehensive tool that provides a taxonomic annotation for prokaryotes, including bacteria and archaea using GTDB."
params.gunc = "yes" // @dropdown @options:"yes","no" @label:"Run GUNC?" @description:"Genome-based Universal Nucleotide Classification is a tool for classifying and annotating microbial genomes based on nucleotide sequences."
params.checkm2 = "yes" // @dropdown @options:"yes","no" @label:"Run CheckM2?" @description:"CheckM2 is a tool used for evaluating the completeness and contamination of microbial genomes, particularly for metagenome-assembled genomes (MAGs)."
params.diamond_db = "" // @input @label:"DIAMOND Database"
params.gunc_db = "" // @input @label:"GUNC Database"
params.gtdb_db = "" // @input @label:"Genome Taxonomy Database (GTDB)" @description:"Genome Taxonomy Database contains taxonomic information for a large number of genomes across the bacterial and archaeal domains. It includes both 16S rRNA gene sequences and whole genome-based taxonomic assignments."
params.checkm1_db = "" // @input @label:"CheckM Database"

// databases
params.humann3_chocophlan_db = "" //* @input @description:"HUMAnN3 main database for abundance alignment" @label:"HUMAnN3 Nucleotide Database"
params.humann3_uniref_db = "" //* @input @description:"HUMAnN3 Diamond database for gene family and pathway data" @label:"HUMAnN3 Protein Database"
params.humann3_mpa_db = "" //* @input @description:"HUMAnN3 compatible MetaPhlAn4 database. The metaphlan database required should be the same as humann's respective database." @label:"MetaPhlAn Database for HUMAnN"
params.humann3_mpa_index = "" //* @input @description:"Metaphlan's Bowtie2 index title" @label:"HUMAnN Index"

// functional profiling
params.run_func = "yes" //* @dropdown @options:"yes, no" @show_settings:"params.run_humann" @description:"Please, to change the settings for binning, select 'yes'" @label:"Functional Profiling Settings"
params.run_humann = "yes" //* @dropdown @options:"yes","no" @label:"Run HUMAnN3?" @show_settings:"HUMAnN3,params.humann3_chocophlan_db,params.humann3_uniref_db,params.humann3_mpa_db,params.humann3_mpa_index,HUMAnN_ReNormalize" @description:"HUMAnN3 (v 3.9) for functional profiling with MetaPhlAn4 (v 4.1.1) taxonomic annotation."
params.run_kofamscan = "no" // @dropdown @options:"yes","no" @label:"Run KOfamScan?" @show_settings:"KOfamScan"
params.run_annotate = "no" // @dropdown @options:"yes","no" @label:"Run Annotate?" @show_settings:"Annotate_Functions"

includeConfig 'conf/base.config'