$HOSTNAME = "default"
params.DOWNDIR = (params.DOWNDIR) ? params.DOWNDIR : ""

_species = ""
_build = ""
_share = ""
_shareMeta = ""
_annotation = ""  
_subdir = "" 
_kraken2_db = ""
_metaphlan_db = ""
params.metaphlan_index = "" 

//* autofill
if (params.genome_build == "human"){
    _species = "human"
    _build = "hg38"
    _annotation = "gencode_v44"
    _kraken2_db   = "kraken2_230324"
    _metaphlan_db = "metaphlan_230324"
    _subdir = "/gencode_v44/"
    params.gtf_type='gencode'
    params.metaphlan_index = ""
} else if (params.genome_build == "mouse"){
    _species = "mouse"
    _build = "mm10"
    _annotation = "refseq_011015"
    _kraken2_db    = "kraken2_060324"
    _metaphlan_db = "metaphlan_060324"
    _subdir = "/"
    params.gtf_type='ncbi'
    params.metaphlan_index = "-x MRGM_20221205"
} else if (params.genome_build == "custom"){
    params.genome        = "NA"
    params.bowtie2_index = "NA"
    params.kraken_db     = "NA"
    params.metaphlan_db  = "NA"
} 

if ($HOSTNAME == "default"){
    _share = "${params.DOWNDIR}/genome_data"
    _shareMeta = "${params.DOWNDIR}/genome_data_other/Meta-CAMP"
    $SINGULARITY_IMAGE = "quay.io/viascientific/rnaseq:4.0"
    $DOCKER_IMAGE = "quay.io/viascientific/rnaseq:4.0"
}

if (params.genome_build && $HOSTNAME){
    params.genome       = "${_share}/${_species}/${_build}${_subdir}main/genome.fa"
    params.bowtie2_index= "${_share}/${_species}/${_build}${_subdir}Bowtie2Index"
    params.kraken_db    = "${_shareMeta}/${_species}/${_kraken2_db}/"
    params.metaphlan_db = "${_shareMeta}/${_species}/${_metaphlan_db}/"
}

if ($HOSTNAME){
    params.xtree_db     = "${_shareMeta}/otherdb/xtree_db/GTDB207_filt.xtr"
    params.ncbi_taxid = "${_shareMeta}/otherdb/ncbi_tax_names/names.dmp"
    params.xtree_all_db_mapping = "${_shareMeta}/otherdb/ncbi_tax_names/xtree_all_db_mapping"
    params.taxonomy_db = "${_shareMeta}/otherdb/animalcules_db/tax_db.txt"
    params.diamond_db = "${_shareMeta}/otherdb/CheckM2_db/uniref100.KO.1.dmnd" 
    params.gunc_db = "${_shareMeta}/otherdb/gunc_db/gunc_db_progenomes2.1.dmnd" 
    params.gtdb_db = "${_shareMeta}/otherdb/gtdb/release220/" 
    params.checkm1_db = "${_shareMeta}/otherdb/checkm_db/" 
    params.bakta_db = "${_shareMeta}/otherdb/bakta_db/"

}

//* autofill